:root {
  --primary-color: white;
  --yellow: #fee715ff;
  --black: #;
  --font-size--clamp: 26px, 3vw, 14px;
  --font-size--body-text: 18px;
  --font-size--small: 14px;
  --font-size-x-small: 12px;
}

.job-link {
  color: var(--yellow);
  text-decoration: none;
}
.duty-list > li {
  list-style: none;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
}
.duty-list > li > svg {
  font-size: var(--font-size--small);
  margin-right: 20px;
  color: var(--yellow);
}
.duty-list {
  font-size: var(--font-size--small);
  padding: 0;
}
.space {
  margin: 20px;
}
.align-left {
  text-align: left;
}
.tabs-title {
  text-transform: capitalize !important;
  width: 170px;
}
.job-period {
  font-size: var(--font-size-x-small);
}
[role="tabpanel"] {
  width: 630px;
}
